$info-bar-height: 80px;

.room {
  .info-bar {
    height: $info-bar-height;
    background-color: grey;
    display: flex;
    justify-content: space-around;
  }

  .whiteboard-wrapper {
    width: 100%;
    height: calc(100vh - #{$info-bar-height});
  }
}
